<!DOCTYPE html>

<html>

<head>
<title>Fantasy NWHL</title>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'fantasyNWHL.css' %}"/>

</head>

<body>

<! -- FANTASY NWHL BANNER -->

<div id="MainBanner">
NWHL
</div>

<! -- NAV BANNER  -->

<header id="FantasyHeader" role="banner">
<nav>
<div class="fantasy-menu">
<ul id="FantasyNavMenu">
<li>
	<a href="/team/">My Team</a>
</li>
<li>
	<a href="/events/">Schedule</a>
</li>
</ul>
</div>
</nav>
</header>

<! -- ROSTER -->

<div id="MainFrame">

<div id="RosterCurrent">

<div style="display: table-row">

<div id="SalaryCap">
SALARY CAP:
</div>

<div id="RosterSelections">
<div id="MyPositions">
	<div class="MyForwards">
		<div class="ForwardsBanner">
		FORWARDS
		</div>
		<div class="ForwardsTable">
			<div class="RosterPick1">
                    {{ fwd1 }}
			</div>
			<div class="RosterPick2">
{{ fwd2 }}
			</div>
			<div class="RosterPick3">
{{ fwd3 }}
			</div>
	</div>
	</div>
	<div class="MyDefense">
		<div class="DefenseBanner">
		DEFENSE
		</div>
		<div class="DefenseTable">
			<div class="RosterPick4">
{{ def1 }}
			</div>
			<div class="RosterPick5">
{{ def2 }}
			</div>
	</div>	
	</div>
	<div class="MyGoalie">
		<div class="GoalieBanner">
		GOALIE
		</div>
		<div class="GoalieTable">
			<div class="RosterPick6">
{{ goalie }}
			</div>
	</div>
	</div>
</div>
</div>
</div>
</div>

<! -- AVAILABLE PLAYERS -->

<div id="PlayerPoolFrame">

<div id="PlayerPool">

	<div class="Player1">
	Player1
	</div>
	<div class="Player2">
	Player2
	</div>
	<div class="Player3">
	Player3
	</div>
	<div class="Player4">
	Player4
	</div>
	<div class="Player5">
	Player5
	</div>
	<div class="Player6">
	Player6
	</div>
<br>
	<div class="Player7">
	Player7
	</div>
	<div class="Player7">
	Player8
	</div>
</div>

</div>

<! -- END OF MAIN FRAME -->

</div>

</body>
</html>
